* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    }
    
    
body {
background-color: #448D76;
}


header {
    height: auto;
}


header h1 {
font-size: 60px;
color: #FB8604;
 text-shadow: 2px 2px blue;
font-family: cinzel; 
}


logo{
  width: 15%;
float: left;
 height: 95px;
}


logo2 {
  width: 15%;
float: right;
 height: 95px;
}

section {
    float: left;
    width: 80%;
    height: 1400px;
    overflow: auto;
      border: 5px solid #FB8604
}

.center
{display: block;
    margin-left: auto;
    margin-right: auto;
}


aside {
    float: left;
    width: 20%;
    height: 1400px;
}


footer {
    height: 20px;
    font-size: 15px;
     display: block;
color: white;
}


.clear {
    clear: both;
}


.menu{
	padding: 5px 0 5px 0;
	text-align: center;
	line-height: 32px;
  border: 5px solid #FB8604;
}


ul.menu {
	margin top: 15px;
}


.menu li {
	display: inline;
	padding: 0px 10px 0 50px;
	font-size: 20px;
}


.menu a {
	text-decoration: none;
	color: white;
font-family: cinzel; 
font-size: 25px;
font-weight: 2000;
height: auto;
width: auto;
}


a:hover {
	background: rgba(0,0,0,0);
	color: #090934;
}




section h1 {
color: white;
font-size: 40px;
text-decoration: underline;
}


h2 {
color: blue;
}


h3 {
color: white;}


ul {
color: white;
font-size: 18px;}


li {
font-size: 18px;}

h4 {
font-size: 18px;
color: white;}






